body {
    background: #fafafa;
}
header {
   box-sizing: border-box;
}
.clearfix {
   overflow: hidden;
}
.clearfix::after {
   content: "";
   clear: both;
   display: table;
}
header .container ul {
   text-align: center;
   margin: auto;
}
@font-face {
    font-family: Monteserrat-Bold;
    src: url("../psd/fonts/Montserrat-Bold");
}
.container ul li a {
   color: #333333;
   font-size: 16px;
    font-family: Monteserrat-Bold;
   float: left;
   margin-left: 43px;
   height: 130px;
   line-height: 130px;
}
.container ul li .home {
   color: #ff9934;
   border-bottom: 5px solid #ff9934;
}
.container ul li a:hover {
   color: #ff9934;
   text-decoration: none;
   border-bottom: 5px solid #ff9934;
   transition: 0.2s;
}
.banner {
    width: 100%;
    height: 1080px;
    background: url("../psd/images/banner.jpg") no-repeat top center;
    background-size: 100% 100%;
    display: table;
}
.banner .first-content {
    text-align: center;
    padding-top: 115px;
}
.banner .first-content .bar {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}
.first-content .bar:hover {
    color: #ff9934;
}
@font-face {
    font-family: Monteserrat-Regular;
    src: url("../psd/fonts/Montserrat-Regular.ttf");
}
.first-content h3 {
    color: #ffffff;
    font-size: 28px;
    font-family: Monteserrat-Regular;
    margin-top: 55px;
    margin-bottom: 40px;
}
.first-content .social-icon i {
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}
.first-content .social-icon .twitter {
    color: #ff9934;
}
.first-content .social-icon i:hover {
    color: #ff9934;
    transition: 0.2s;
}
.banner .second-content {
    vertical-align: middle;
    text-align: center;
}
.second-content h1 {
    color: #ffffff;
    font-family: Monteserrat-Regular;
    font-size: 40px;
    margin-top: 200px;
    text-transform: uppercase;
}
@font-face {
    font-family: Monteserrat-SemiBold;
    src: url("../psd/fonts/Montserrat-SemiBold");
}
.second-content .sub-content p {
    font-size: 22px;
    color: #ffffff;
    font-family: Monteserrat-SemiBold;
    float: left;
    transform: rotate(-90deg);
}

/* ABOUT US */

.main-content .about-us .container {
    height: 1135px;
    box-sizing: border-box;
    margin: 150px auto;
}
.about-us .row {
    height: 620px;
}
.about-us .about-us-img .intro1 {
    position: relative;
    z-index: 2;
    top: 70px;
}
.about-us .about-us-img .intro2 {
    position: absolute;
    z-index: 3;
    left: 215px;
}
.about-us .about-us-info {
    text-align: center;
    margin-top: 120px;
}
.about-us .about-us-info h1 {
    font-size: 26px;
    font-family: Monteserrat-SemiBold;
    padding-bottom: 20px;
    font-weight: 1000;
    border-bottom: 1px solid #ff9934;
}
.about-us-info h3 {
    font-size: 18px;
    font-family: Monteserrat-SemiBold;
    font-weight: 600;
    padding-top: 35px;
}
@font-face {
    font-family: Raleway-Regular;
    src: url("../psd/fonts/Raleway-Regular.ttf");
}
.about-us-info p {
    font-family: Raleway-Regular;
    font-size: 18px;
    color: #838383;
    padding: 55px 0 0 0;
    line-height: 2.5;
}
.about-us-info img {
    position: relative;
}
.about-us-info span {
    font-size: 18px;
    font-family: Monteserrat-Regular;
    color: #838383;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}
.about-us .row2 {
    margin-top: 100px;
    display: flex;
}

/*BLOG*/

.main-content .ourblog h2 {
    font-size: 34px;
    font-weight: 1000;
    text-align: center;
    font-family: Monteserrat-Bold;
    padding-top: 160px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ff9934;
}
.main-content .ourblog .content {
    text-align: center;
    font-family: Monteserrat-Regular;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #777777;
}
.ourblog .blog-col .job-image {
    max-width: 100%;
}
.ourblog .blog-intro h3{
    color: #3c3c3c;
    font-size: 18px;
    font-family: Monteserrat-Bold;
    font-weight: 1000;
    padding: 25px 0 10px 0;
    line-height: 30px;
}
.ourblog .blog-intro p {
    color: #b5b5b5;
    font-size: 13px;
    padding: 10px 0;
}
.ourblog .blog-intro p i {
    color: #ff9934;
    padding: 0 5px;
}
.ourblog .blog-intro h5 {
    color: #666666;
    font-size: 14px;
    padding: 10px 0 20px 0;
    line-height: 30px;
}
.ourblog .blog-intro .button-object {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 1000;
    text-decoration: none;
}
.ourblog .blog-intro .button-object i {
    font-size: 10px;
}
.ourblog .blog-intro a:hover {
    color: #ff9934;
}

/*MAP*/

.main-content .intro .map  img {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 325px;
    background: #333333;
}
footer .container .contact {
    padding-top: 75px;
}
.contact p {
    font-size: 32px;
    font-family: Monteserrat-Regular;
    color: #ffffff;
    text-align: center;
}
.contact span {
    color: #ff9934;
}
.container .social-icon {
    margin-left: 400px;
}
.container .social-icon i {
    text-align: center;
    background: #525252;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin-top: 45px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.container .social-icon i:hover {
    color: #ff9934;
}
.container .contact-info {
    font-size: 14px;
    font-family: Monteserrat-Regular;
    color: #989898;
    text-align: center;
    padding-top: 40px;

}